<html>
    <body>

    
<head>

    <%- include ("./partials/head.ejs")  %>

</head>
<header>

    <%- include ("./partials/header.ejs")  %>
    
</header>

<div class="errores">
    <ul></ul>
</div>

<h1>Cargar camiseta</h1>

<form acction="/product/crear" method="POST" enctype="multipart/form-data">
    

    <div>
        <label>
            Nombre:
        </label>
        <input 
        type="text" 
        id= "name" 
        name="nombre" placeholder="Indicar nombre" 
        value="<%= locals.oldData ? oldData.nombre: null %>">
        <% if (locals.errors && errors.nombre) { %>
            <p class="error"> <%= errors.nombre.msg %>  </p>
        <% } %>
    </div>

    <div>
        <label>
            Marca:
        </label>
        <select name="marca" id="marca" >
            <option value="" disabled selected>- Seleccione Marca - </option>
            <% for( let i = 0; i < marca.length; i++ ) { %>
                <option value="<%= marca[i].id_marca %>"><%= marca[i].nombre_marca %></option>
            <% } %>
        </select>
    </div>


    <div>
        <label for="">Precio</label>
        <input 
        type="number" 
        name="precio"
        id="precio">
    </div>
    <div>

       
    <div>
        <label>
            Categoria:
        </label>
        <select name="categoria" id="categoria"  >
            <option value="" disabled selected>- Seleccione Categoria - </option>
            <% for( let i = 0; i < categoria.length; i++ ) { %>
                <option value="<%= categoria[i].id_categoria %>"><%= categoria[i].nombre_categoria %></option>
            <% } %>
        </select>
    </div>


    <div>
        <label>
            Talle:
        </label>
        <select name="talle" id="talle"  >
            <option value="" disabled selected>- Seleccione Talle - </option>
            <% for( let i = 0; i < talle.length; i++ ) { %>
                <option value="<%= talle[i].id_talle %>"><%= talle[i].nombre_talle %></option>
            <% } %>
        </select>
    </div>

    <div class= "carga-foto">
        <label for="foto">
            Foto:
        </label>
        <input 
        type="file" 
        id = "foto" 
        name="imagen" 
        placeholder="Indicar imagen" >
        <% if (locals.errors && errors.imagen) { %>
            <p class="error"> <%= errors.imagen.msg %></p>
        <% } %>
    </div>


    <button type="submit">Crear</button>
</form>
<footer class="footer">

    <%- include ("./partials/footer.ejs")  %>

    <script src="/scripts/crearProductoSQL.js"></script>

</footer>
</body>
</html>