<html>
    <body>

    
<head>

    <%- include ("./partials/head.ejs")  %>

</head>
<header>

    <%- include ("./partials/header.ejs")  %>
    
</header>

<div class="errores">
    <ul></ul>
</div>

<h1>Registrar Usuario</h1>

<form acction="/user/crear" method="POST">
    <div>
        <label for="">Nombre Completo</label>
        <input 
        type="text" 
        name="fullname"
        id="nombre"
        value="<%= locals.oldData ? oldData.fullname : null %>">
    </div>
    <% if (locals.errors && errors.fullname) { %>
        <p class="error"> <%= errors.fullname.msg %>  </p>
    <% } %>

    <div>
        <label for="">Mail</label>
        <input 
        type="text" 
        name="mail"
        id="correo"
        value="<%= locals.oldData ? oldData.mail: null %>">
    </div>
    <% if (locals.errors && errors.mail) { %>
        <p class="error"> <%= errors.mail.msg %>  </p>
    <% } %>

    <div>
        <label for="">Pais</label>
        <select 
        type="text" 
        name="pais"
        id="country">
        <option value="">Elegí un país</option>
									<%  
										let countries = ['Argentina', 'Bolivia', 'Brasil', 'Colombia', 'Chile', 'Ecuador', 'Paraguay', 'Perú', 'Uruguay', 'Venezuela'];
									%>
									<% for (const oneCountry of countries) { %>
										<option 
											value="<%= oneCountry %>"
											<%= locals.oldData && (oneCountry === oldData.country) ? 'selected' : null %> 
										> <%= oneCountry %> </option>
									<% } %>
        </select>
    </div>
    <div>
        <label for="">Contraseña</label>
        <input 
        type="password" 
        name="pass"
        id="clave">
    </div>
    <% if (locals.errors && errors.pass) { %>
        <p class="error"> <%= errors.pass.msg %>  </p>
    <% } %>
    <!--VER AVATAR-->

    <div class= "carga-foto">
        <label for="foto">
            Foto:
        </label>
        <input 
        type="file" 
        id = "foto" 
        name="avatar" 
        placeholder="Indicar imagen" >
        <% if (locals.errors && errors.avatar) { %>
            <p class="error"> <%= errors.avatar.msg %></p>
        <% } %>
    </div>

    <button type="submit">Regristrame</button>
</form>
<footer class="footer">

    <%- include ("./partials/footer.ejs")  %>
    
    <script src="/scripts/registroSQL.js"></script>

</footer>
</body>
</html>