<html>
    <body>

    
<head>

    <%- include ("./partials/head.ejs")  %>

</head>
<header>

    <%- include ("./partials/header.ejs")  %>
    
</header>
          <h1><%=encontrado.id_producto%></h1>
    <ul>
        <!--VER, NO TOMA EL NOMBRE DE LA BASE DE DATO-->

        <div>
            <img
              src="/images/camisetas/<%= encontrado.foto %>"
              alt="foto del producto"
              class="fotoproducto"
            />
          </div>

        <li>
            nombre: <%=encontrado.nombre_producto%> 
        </li>
        <li>
            marca: <%=encontrado.marca.nombre_marca%> 
        </li>
        <li>
            talle: <%=encontrado.talle.nombre_talle%> 
        </li>
        <li>
            categoria: <%=encontrado.categoria.nombre_categoria%> 
        </li>
        <li>
            precio: <%=encontrado.precio%> 
        </li>
    </ul>
    <a href="/product/editar/<%=encontrado.id_producto%>">
<button>Editar</button>
</a>
<form action="/borrar/<%=encontrado.id_producto%>" method="POST">
    <button 
    type="submit">Borrar</button>
</form>
<footer class="footer">

    <%- include ("./partials/footer.ejs")  %>

</footer>
</body>
</html>