<!DOCTYPE html>
<html lang="en">

    <head>

        <%- include ("./partials/head.ejs")  %>
    
    </head>

<body>
    <header>

        <%- include ("./partials/header.ejs")  %>
        
    </header>
    <h1>Detalle del usuario</h1>

    <h2></h2>

    <section>
    
        <a href="#">
            <p>ID: <%= users[i].id %> </p>
            <p>Nombre: <%= users[i].fullName %></p>
            <p>Mail: <%= users[i].email %></p>
            <p>Password: <%= users[i].password %></p>
            <p>Pais: <%= users[i].country %></p>
            <p>Avatar: <%= users[i].avatar %></p>
        </a>
    </section>

    <form action="../edit/<%= user.id %>" method="get">
        <button class="editar type="submit">
            Editar
        </button>
    </form>
    <form action="../delete/<%= user.id %>?_method=delete" method="post">
        <button class="eliminar" type="submit">
            Eliminar
        </button>
    </form>
    <footer class="footer">

        <%- include ("./partials/footer.ejs")  %>

    </footer>
</body>

</html>