<html>
    <body>

    
<head>

    <%- include ("./partials/head.ejs")  %>

</head>
<header>

    <%- include ("./partials/header.ejs")  %>
    
</header>

<div class="errores">
    <ul></ul>
</div>

<h1>Editar producto</h1>
<form action="/product/editar/<%=producto.id_producto%>?_method=PUT" method="POST" enctype="multipart/form-data">
    
    <div>
        <label for="">Nombre</label>
        <input 
        type="text" 
        name="nombre"
        id="name" 
        value= "<%= locals.oldData ? oldData.nombre: null|| producto.nombre_producto%>"  >
            <% if (locals.errors && errors.nombre) { %>
                <p class="error"> <%= errors.nombre.msg %>  </p>
            <% } %>
    </div>
   
   

    <div>
        <label>
            Marca:
        </label>
        <select 
        name="marca" 
        id="marca" >
            <% marca.forEach(marca => { %>
            <option 
            value="<%= marca.id_marca %>" 
            <% if (marca.id_marca == producto.marca_id_marca) { %>
                <%= 'selected' %>
                <% }; %>>
                <%= marca.nombre_marca %></option>
            <% }); %>
        </select>
    </div>

   


    <div>
        <label>
            Talle:
        </label>
        <select 
        name="talle" 
        id="talle" >
            <% talle.forEach(talle => { %>
            <option 
            value="<%= talle.id_talle %>" 
            <% if (talle.id_talle == producto.talle_id_talle) { %>
                <%= 'selected' %>
                <% }; %>>
                <%= talle.nombre_talle %></option>
            <% }); %>
        </select>
    </div>



    <div>
        <label>
            Categoria:
        </label>
        <select 
        name="categoria" 
        id="categoria" >
            <% categoria.forEach(categoria => { %>
            <option 
            value="<%= categoria.id_categoria %>" 
            <% if (categoria.id_categoria == producto.categoria_id_categoria) { %>
                <%= 'selected' %>
                <% }; %>>
                <%= categoria.nombre_categoria %></option>
            <% }); %>
        </select>
    </div>


    <div>
        <label for="">Precio</label>
        <input 
        type="number" 
        name="precio"
        id="precio"
        value= "<%= locals.oldData ? oldData.precio: null|| producto.precio%>"  >
            <% if (locals.errors && errors.precio) { %>
                <p class="error"> <%= errors.precio.msg %>  </p>
            <% } %>
    </div>

    <div>
        <button type="submit">Editar</button>
    </div>

</form>

<footer class="footer">

    <%- include ("./partials/footer.ejs")  %>

    <script src="/scripts/editarProductoSQL.js"></script>

</footer>
</body>
</html>