<html>
    <body>

    
<head>

    <%- include ("./partials/head.ejs")  %>

</head>
<header>

    <%- include ("./partials/header.ejs")  %>
    
</header>
<h1>Editar usuario</h1>

<form action="/user/editar/<%=encontrado.id_usuario%>?_method=PUT"  method="POST" enctype="multipart/form-data">
    
    
    <div>
        <label for="">Nombre Completo</label>
        <input 
        type="text" 
        name="fullname" 
        value="<%=encontrado.fullname%>">
    </div>

    <div>
        <label for="">Mail</label>
        <input 
        type="text" 
        name="mail" 
        value="<%=encontrado.mail%>">
    </div>

    <div>
        <label for="">Pais</label>
        <select 
        type="text" 
        name="pais"
        id="country">
        <option value="">Elegí un país</option>
									<%  
										let countries = ['Argentina', 'Bolivia', 'Brasil', 'Colombia', 'Chile', 'Ecuador', 'Paraguay', 'Perú', 'Uruguay', 'Venezuela'];
									%>
									<% for (const oneCountry of countries) { %>
										<option 
											value="<%= oneCountry %>"
											<%= locals.oldData && (oneCountry === oldData.country) ? 'selected' : null %> 
										> <%= oneCountry %> </option>
									<% } %>
        </select>
    </div>

    <!--FALTA AVATAR-->
    <div>
        <button type="submit">Editar</button>
    </div>
</form>
<footer class="footer">

    <%- include ("./partials/footer.ejs")  %>

</footer>
</body>
</html>