<%- include('header') -%>
<h1>Listado de productos</h1>
<ul>
    <% for (let i = 0; i < productos.length; i++)  {%> 
        <li>
            <%=productos[i].id_producto%>
            <%=productos[i].id_marca%>
            <%=productos[i].id_talle%>
            <%=productos[i].id_categoria%>
            <%=productos[i].id_precio%>
        </li>
        <% } %> 
</ul> 
<%- include('footer') -%>