<html>
    <body>

    
<head>

    <%- include ("./partials/head.ejs")  %>

</head>
<header>

    <%- include ("./partials/header.ejs")  %>
    
</header>
    <main>
      <Div>
        <div>
          <div>
            <ul></ul>
          </div>
          <h2>INGRESA</h2>
          <form action="/user/login" method="post" class="formulete">
            <% if (locals.mensajeError) { %>
            <p class="error"><%= mensajeError %></p>
            <% } %>
            <p>
              <input
                type="text"
                name="mail"
                placeholder="Ingresa tu correo acá"
                id="correo"
                class="correo"
                value="<%= locals.oldData ? oldData.mail : null %>"
              />
            </p>
            <% if (locals.errors && errors.mail) { %>
            <p class="error"><%= errors.mail.msg %></p>
            <% } %>

            <p>
              <input
                type="password"
                name="pass"
                placeholder="Ingresa tu Contraseña"
                id="clave"
                class="password"
              />
            </p>
            <% if (locals.errors && errors.password) { %>
            <p class="error"><%= errors.password.msg %></p>
            <% } %>
            <input
              type="checkbox"
              class="recordarClave"
              name="recordarClave"
              id="recordarClave"
            /><label for="recordarClave">Recordame</label>
            <div class="buttons">
              <button type="submit">Ingresar</button>
            </div>
          </form>
        </div>
      </Div>
    </main>
    <footer class="footer">
      <script src="/scripts/loginSQL.js"></script>

    <%- include ("./partials/footer.ejs")  %>

</footer>
</body>
</html>